---
import Layout from "../layouts/Layout.astro";
import CoolBox from "../components/CoolBox.astro";
import CodedexImage from "../components/CodedexImage.astro";
import Toasters from "../components/Toasters.astro";
---

<Layout>
  <br><br>
  <center>
  <p>The <b style="font-size: 20px"><span style="color:#FF0000">L</span><span style="color:#FFDB00">e</span><span style="color:#49FF00">g</span><span style="color:#00FF92">e</span><span style="color:#0092FF">n</span><span style="color:#4900FF">d</span><span style="color:#FF00DB">s</span></b> behind <CodedexImage width="151" height="20"/></p>
  <br>
  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; justify-items: center;">
    <CoolBox 
      title="Sonny"
      text=`"finally looked up ma dong seok..."`
      borderColor="#44547c"
      titleImage="/codedex-90s/img/animated/team/sonny-cube.gif"
      afterTextImage="/codedex-90s/img/animated/team/shock.gif"
      afterTextImageWidth="100px"
      afterTextImageHeight="100px"
    />
    <CoolBox 
      title="Eric"
      text=`"this is the best sentence that has ever existed"`
      borderColor="#ff9900"
      titleImage="/codedex-90s/img/animated/team/eric-cube.gif"
      afterTextImage="/codedex-90s/img/animated/team/ericsoftware.gif"
      afterTextImageWidth="90%"
      afterTextImageHeight="90%"
    />
    <CoolBox 
      title="Asiqur"
      text=`"wheres the pizza fire meme when u need it"`
      borderColor="#04748c"
      titleImage="/codedex-90s/img/animated/team/asiqur-cube.gif"
      afterTextImage="/codedex-90s/img/animated/team/asiqurpic.jpg"
      afterTextImageWidth="80%"
      afterTextImageHeight="80%"
    />
    <CoolBox 
      title="Dharma"
      text=``
      borderColor="#52492a"
      titleImage="/codedex-90s/img/animated/team/dharma-cube.gif"
      afterTextImage="/codedex-90s/img/animated/team/deadpool-dance-bye-bye-bye.gif"
      afterTextImageWidth="80%"
      afterTextImageHeight="80%"
    />
    <CoolBox 
      title="Lilian"
      text=`"winter mode"`
      borderColor="#4a1c52"
      titleImage="/codedex-90s/img/animated/team/lilian-cube.gif"
      afterTextImage="/codedex-90s/img/falling/SNOW.gif"
      afterTextImageWidth="80%"
      afterTextImageHeight="80%"
    />
    <CoolBox 
      title="Naomi"
      text=""
      borderColor="#4c535c" 
      titleImage="/codedex-90s/img/animated/team/naomi-cube.gif"
      afterTextImage="/codedex-90s/img/animated/team/celebrate.gif"
      afterTextImageWidth="90%"
      afterTextImageHeight="90%"
    />
    <CoolBox 
      title="Ellie"
      text=`"real"`
      borderColor="#7c2d55"
      titleImage="/codedex-90s/img/animated/team/ellie-cube.gif"
      afterTextImage="/codedex-90s/img/animated/team/Shiba_Final.gif"
      afterTextImageWidth="90%"
      afterTextImageHeight="90%"
    />
    <CoolBox 
      title="Jackie"
      text=`"how's my internet?"` 
      borderColor="#6c950d"
      titleImage="/codedex-90s/img/animated/team/jackie-cube.gif"
    />
    <CoolBox 
      title="Colin"
      text=`"Duo has been sending me threats for not keeping up with my spanish course lately"`
      borderColor="#535051"
      titleImage="/codedex-90s/img/animated/team/colin-cube.gif"
      afterTextImage="/codedex-90s/img/animated/team/duo.png"
      afterTextImageWidth="80%"
      afterTextImageHeight="80%"
    />
    <CoolBox 
      title="Mochi"
      text=`"meow"`
      borderColor="#ff9900"
      titleImage="/codedex-90s/img/animated/team/mochi-cube.gif"
      afterTextImage="/codedex-90s/img/animated/graycatdance.gif"
      afterTextImageWidth="100%"
      afterTextImageHeight="100%"
    />
  </div>
  </center>
  <br><br>
  <body>
    <Toasters />
    <img class="blimp-cat" src="/codedex-90s/img/animated/blimp-cat.gif" alt="">
    <img class="blimp-cat-2" src="/codedex-90s/img/animated/blimp-cat.gif" alt="">
    <img class="baloon-cat" src="/codedex-90s/img/animated/hot-air-baloon.gif" alt="">
    <script>window.NekoType = "silver";</script>
    <script src="https://webneko.net/n20171213.js" defer></script>
  </body>
</Layout>