---
import CoolBox from "./CoolBox.astro";
---

<div style="text-align: center; color: #fff; font-family: 'Courier New', monospace; padding: 20px;">
    <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
        <img src='./img/animated/hacker3d.gif' alt="Spinning Matrix Skull" style="width: 60px; height: 50px;">
        <h1 style="font-size: 2rem;"><u>LEARN TO CODE LIKE IT'S <a href="https://www.glitter-graphics.com" style="text-decoration: none"><font color=#ff0000>2</font><font color=#bfad3f>0</font><font color=#7ffe7f>2</font><font color=#3fc6bf>4</font></a></u></h1>
        <img src='./img/animated/hacker3d.gif' alt="Spinning Matrix Skull" style="width: 60px; height: 50px;">
    </div>

    <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px; margin-top: 20px;">
        <CoolBox 
            title="HTML" 
            text="Lorem Ipsum dolor sit amet, consectetur adipiscing elit" 
            borderColor="#ff9900" 
        />
        <CoolBox 
            title="CSS" 
            text="Lorem Ipsum dolor sit amet, consectetur adipiscing elit" 
            borderColor="#3399ff" 
        />
        <CoolBox 
            title="JavaScript" 
            text="Lorem Ipsum dolor sit amet, consectetur adipiscing elit" 
            borderColor="#ffff00" 
        />
        <CoolBox 
            title="C++" 
            text="Lorem Ipsum dolor sit amet, consectetur adipiscing elit" 
            borderColor="#1976D2" 
        />
        <CoolBox 
            title="Command Line" 
            text="Lorem Ipsum dolor sit amet, consectetur adipiscing elit" 
            borderColor="#fff" 
        />
    </div>
</div>