---
const { setSelectedCategory } = Astro.props;
---

<table style="background-image: url('/codedex-90s/img/animated/matrix.gif'); border-color:grey; border-width:2px" border="2" cellspacing="3" cellpadding="3" align="center">
    <tbody>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="Home">Home</a> <img src="/codedex-90s/img/animated/community/house02.gif" style="width:25px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="project-showcase">Project Showcase</a> <img src="/codedex-90s/img/animated/community/space_age_computer_showcase_lg_clr.gif" style="width:25px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="question-of-the-week">Question of the Week</a> <img src="/codedex-90s/img/animated/community/question.gif" style="width:20px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="monthly-challenge">Monthly Challenge</a> <img src="/codedex-90s/img/animated/community/trophy.gif" style="width:20px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="https://www.codedex.io/holiday-hackathon">Hackathon</a> <img src="/codedex-90s/img/animated/community/hacker.gif" style="width:25px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="/codedex-90s/worlds">Town Square</a> <img src="/codedex-90s/img/animated/community/new3.gif" style="width:25px; height:10px"></td>
        </tr>
        <tr>
            <td style="color:greenyellow; text-align:center;">Channels</td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="main">General</a> <img src="/codedex-90s/img/animated/community/generalpic.gif" style="width:20px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="introduction">Introductions</a> <img src="/codedex-90s/img/animated/community/welcome_form.gif" style="width:45px; height:10px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="python">Python</a> <img src="/codedex-90s/img/animated/community/python-snake.gif" style="width:25px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="javascript">JavaScript</a> <img src="/codedex-90s/img/animated/community/scroll_t.gif" style="width:20px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="web-dev">Web Dev</a> <img src="/codedex-90s/img/animated/community/e-mail_1.gif" style="width:20px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="career">Career</a> <img src="/codedex-90s/img/animated/community/job2.gif" style="width:20px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="memes">Memes</a> <img src="/codedex-90s/img/animated/community/smileytypingoncomp.gif" style="width:35px; height:15px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="30-nites-of-code">#30NitesOfCode</a> <img src="/codedex-90s/img/animated/community/egg.gif" style="width:25px; height:20px"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="pets">Pets</a> <img src="/codedex-90s/img/animated/community/x-hikashi15.gif" style="width:25px; height:20px"></td>
        </tr>
    </tbody>
</table>
<br>
<iframe 
    src="https://www5.cbox.ws/box/?boxid=954539&boxtag=sc9POS" 
    width="203px" 
    height="450" 
    allowtransparency="yes" 
    allow="autoplay" 
    marginheight="0" 
    marginwidth="0" 
    scrolling="auto"
    style="border: 3px solid grey;"
></iframe>	

<script>
    document.querySelectorAll('a[data-category]').forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            const category = (e.target as HTMLElement).getAttribute('data-category');
            document.dispatchEvent(new CustomEvent('categoryChanged', { 
                detail: { category }
            }));
        });
    });
</script>
