---
---

<table style="background-image: url('/codedex-90s/img/animated/matrix.gif'); border-color:grey; border-width:2px" border="2" cellspacing="3" cellpadding="3" align="center">
    <tbody>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="html">HTML</a> <img src="/codedex-90s/img/animated/community/e-mail_1.gif" alt="Email-Logo" style="width:22px; height:22px; margin-bottom: -5px;"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="css">CSS</a> <img src="/codedex-90s/img/animated/paintbrush.gif" alt="Paintbrush" style="width:22px; height:22px; margin-bottom: -5px;"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="js">JavaScript</a> <img src="/codedex-90s/img/animated/community/scroll_t.gif" alt="Scroll" style="width:22px; height:22px; margin-bottom: -5px;"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="c">C</a> <img src="/codedex-90s/img/animated/hammer.gif" alt="Hammer" style="width:22px; height:22px; margin-bottom: -5px;"></td>
        </tr>
        <tr>
            <td><a style="color:white; text-decoration:none" href="#" data-category="fortran">Fortran</a> <img src="/codedex-90s/img/animated/BluePotion.gif" alt="Potion with blue liquid" style="width:18px; height:22px; margin-bottom: -5px;"></td>
        </tr>
    </tbody>
</table>