---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Codédex</title>
		<div class="crt"></div>
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				let titleText = "Codédex - Learn CODE for free! - Holiday Hackathon now live! ";
				let speed = 200;
				function scrollTitle() {
					document.title = titleText;
					titleText = titleText.substring(1) + titleText.charAt(0);
					setTimeout(scrollTitle, speed);
				}
				scrollTitle();
			});
		</script>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<!-- Wikplayer https://www.wikplayer.com -->
		<script type="text/javascript" src="https://www.wikplayer.com/code.js" 
		data-config="{'skin':'skins/wikfull/plainBlack/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'showcomment':false,'marqueetexton':true,'placement':'bottom','showplaylist':false,'playlist':[{'title':'Jamiroquai%20-%20Virtual%20Insanity','url':'https%3A%2F%2Ffiles.catbox.moe%2Fezxa4u.mp3'},{'title':'Diamond%20is%20Unbreakable%20-%20Main%20Theme','url':'https%3A%2F%2Ffiles.catbox.moe%2Fu4bhif.mp3'},{'title':'Kuru%20Grasslands','url':'https%3A%2F%2Ffiles.catbox.moe%2Fgu1ya0.mp3'}]}" ></script>
		<!-- Wikplayer code end -->
	</body>
</html>